:root {
  --bg-color: #1c0221;
  --bg2-color: #191724;
  --air-color: #9abcbd;
  --oil-color: #fac748;
  --gas-color: #697a21;
  --cavitation-color: #a30000;
  --text-color: #e0def4;
  --overlay-color: #26233a;
}